* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


body {
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

/* Estilos del header */
header {
    background-color: #1d72b8;
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

header div {
    display: flex;
    justify-content: center;
    gap: 15px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
    margin: 10px;
}

/* Estilos del formulario */
form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-bottom: 50px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
   
}

input[type="text"]:focus {
    border-color: #1d72b8;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(30, 111, 177, 0.3);
    outline: none;
}

input[type="submit"]{
    background-color: #1d72b8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    
}
button {
    background-color: #1d72b8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    
}

input[type="submit"]:hover {
    background-color: #155a8a;
}


/* Para pantallas pequeñas */
@media (max-width: 600px) {
    form {
        padding: 30px;
        margin: 0 10px;
    }
}

/* Ajuste responsivo */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    form button {
        padding: 10px 15px;
        font-size: 0.9rem;
    }
}

